.about-head {
    text-align: center;
    margin: 5rem;
}

.about-head h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0px;
    font-size: xx-large;
}

.about-head span {
    color: orangered;
}

.about-head p {
    color: rgb(68, 68, 68);
    margin: 0px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: center;
    transition: all 0.3ms ease-in-out;
}

.about-container .aboutImg img {
    width: 20vw;
    margin: 0 0 0 15vw;
}

.about-body h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}

.about-body p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.about-body .row-1 ul {
    display: flex;
    list-style: none;
}

.about-body .row-1 li {
    width: 20rem;
    padding: 0rem 2rem 0rem 0rem;
}

.about-body .row-2 ul {
    display: flex;
    list-style: none;
}

.about-body .row-2 li {
    width: 20rem;
    padding-right: 2rem;
}

@media (max-width:1280px) {
    .about-head {
        margin-bottom: 2rem;
    }

    .about-head h1 {
        font-size: 3vw;
    }

    .about-container .aboutImg img {
        width: 10rem;
        margin: 0 0 0 0;
    }

    .about-container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        transition: all 0.3ms ease-in-out;
    }

    .about-body {
        width: 80vw;
        padding: 1rem 2rem;
    }
}