.footer-container {
    width: 99%;
    margin: 5px;
    border-radius: 1vw;
    background-color: #464646;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer-body {
    padding-left: 5rem;
    margin-top: 1rem;
}

.footer-other {
    display: flex;
    gap: 20px;
    cursor: pointer;
    flex-wrap: wrap;
}

.footer-text {
    padding-top: 10px;
    text-align: left;
}

.footer-container img {
    width: 130px;
    padding: 15px;
    margin-right: 10rem;
    cursor: pointer;
}

@media (max-width:680px) {
    .footer-container {
        background-color: #ff3131;
    }

    .footer-other {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        cursor: pointer;
        flex-wrap: wrap;
    }
}