* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(29, 12, 44);
    box-shadow: 0px 5px 5px 0px rgba(169, 169, 169, 0.864);
    height: auto;
    padding-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-bar .logo {
    margin: 0.5vw;
    width: 6rem;
    height: 5rem;
}

.nav-bar .logo img {
    width: 100%;
    height: 100%;
}

.hamburger {
    font-size: 26px;
    color: rgb(238, 129, 129);
    cursor: pointer;
    display: none;
    margin: 3vw;
}

.nav-links {
    margin-top: 4vh;
}

.nav-links ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding-right: 2rem;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: rgba(220, 219, 219, 0.777);
}

.nav-links li a:hover {
    color: rgba(250, 104, 0, 0.753);
}

.nav-links li:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.login-btn {
    background-color: orangered;
    border-radius: 5px;
    padding: 5px 20px;
}

.nav-links .login-btn:hover {
    transform: none;
    transition: none;
    background-color: orange;
}

.nav-links .login-btn a:hover {
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    .nav-bar .logo {
        margin: 1vw;
        width: 5rem;
        height: 4rem;
    }

    .nav-bar .logo img {
        width: 100%;
        height: 100%;
    }

    .hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        /* hide links initially */
        position: absolute;
        top: 20px;
        right: 7px;
        background: #4d4c4c;
        width: auto;
        padding: 10px;
        text-align: center;
        border-radius: 2vw;
    }

    .nav-links.active {
        display: block;
        /* show links when active */
    }

    .nav-links ul {
        flex-direction: column;
    }

    .body-description {
        margin: 5vw 0 1vw 0;
    }

    .body .body-img img {
        width: 100%;
        height: 70%;
        margin: 10vw;
        opacity: 0.7;
    }
}

hr {
    margin-left: 10vw;
    width: 80%;
    height: 1px;
    background-image: linear-gradient(to right, rgb(139, 157, 194), rgb(83, 122, 164), rgb(205, 177, 92), rgb(235, 151, 73));
    border: none;
}

.body {
    color: white;
    display: flex;
    align-items: center;

}

.body-description {
    width: 45vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.body .body-img {
    width: 35vw;
    height: 40vh;
}

.body img {
    width: 70%;
    height: 100%;
    margin-left: 10vw;
    opacity: 0.7;
}

.body img:hover {
    opacity: 1;
    cursor: pointer;
}

.body-description span {
    margin: 0;
    color: rgb(167, 169, 169);
    font-size: medium;
}

h1 {
    color: rgba(255, 255, 255, 0.858);
    font-size: x-large;
    margin: 0;
}

p {
    color: rgb(203, 208, 208);
    margin: 5px 0 0 0;
    font-family: Cambria, Cochin, Georgia, serif;
    font-size: smaller;
    font-weight: 10;
    padding-bottom: 1rem;
}

.body a {
    background-color: orange;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: rgba(235, 228, 228, 0.962);
}

.body a:hover {
    background-color: orangered;
}