.latestNews .news-head {
    text-align: center;
    margin: 4rem 0 1rem 0;
}

.news-head h1 {
    color: black;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.news-head h1 span {
    color: orangered;
}

.latestNews .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.container .card {
    border: 1px solid #cfb9b9e9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: 300px;
    height: 500px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.container .card img {
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.container .card article {
    padding: 16px;
}
.container .card h5 {
    font-size: 18px;
    margin-bottom: 8px;
}
.container .card p {
    font-size: 20px;
    color: #675f5f;
    margin-bottom: 12px;
}
.container .card a {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
.container .card a:hover {
    text-decoration: underline;
    color: #007bffb9;
}

